{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
            </div>
        {% endif %}
        <form action="./?next={% url objetivo:dash %}" method="post" id="login-form">{% csrf_token %}
            <fieldset>
                <legend>{% trans 'Log in' %}</legend>
                {% for field in form %}
                    {% include "registration/form_field.html" %}
                {% endfor %}
                <div class="actions">
                    <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}">
                </div>
            </fieldset>
        </form>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>
    </div>
{% endblock %}