{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <div>
            <form method="post" id="mainForm">{% csrf_token %}
                <fieldset>
                    <legend>{% trans 'Password change' %}</legend>
                    <div class="clearfix">
                        <div class="input">
                            {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
                        </div>
                    </div>
                    {% for field in form %}
                        {% include "registration/form_field.html" %}
                    {% endfor %}
                    <div class="actions">
                        <button id='submit' type="submit" class="btn primary">{% trans 'Change my password' %}</button>
                    </div>
                </fieldset>
                <script type="text/javascript">
                    $(function(){
                        $(".alert-message").alert();
                        $("#mainForm").submit(function(){
                            $('#submit').button('loading');
                        })
                    });
                    document.forms[0].elements[2].focus();
                </script>
            </form>
        </div>
    </div>
{% endblock %}