{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <div class="content">
        <h3>{% trans 'Password change successful' %}</h3>
        <p><a href="/">{% trans 'Back' %}</a></p>
    </div>
{% endblock %}