{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br" >
<head>
    <title>ND Metas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/dashboard.css" />
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/application.css">
    {% block extra_css %}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> -->
    <script type="text/javascript">window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}core/js/jquery.knob.js"></script>
    <script src="{{ STATIC_URL }}core/js/jquery.currency.js"></script>
    <script src="{{ STATIC_URL }}core/js/setup.js"></script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body>

<div id="masthead">
    <div class="container">
        <div class="masthead-pad">
            <div class="masthead-text">
                <a href="/" class="logo_nd pull-left"><img src="{{ STATIC_URL }}core/img/logo.png" style="width:150px;" /></a>
                {% if user.is_authenticated %}
                    <ul class="nav nav-pills pull-right" style="margin: 10px 0 0 0">
                        {% if user.is_staff %}<li><a href="{% url admin:index %}">{% trans 'Site administration' %}</a></li>{% endif %}
                        <li><a href="{% url change_password %}">{% trans 'Change password' %}</a></li>
                        <li class="active">
                            <a href="javascript:void(0);" style="cursor: default">
                                <i class="icon-user icon-white"></i>
                                {{ user }}
                            </a>
                        </li>
                        <li>
                            <a style="background-color: #777; color: #fff" href="{% url logout %}">
                                <i class="icon-off icon-white"></i>
                                {% trans 'Log out' %}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div> <!-- /.masthead-text -->
        </div>
    </div> <!-- /.container -->
</div>

<div id="content">
<div class="container">
    {% block content %}{% endblock %}
    <hr>
    <div class="footer">
        <p>&copy; ND Engenharia e Software</p>
    </div>
</div> <!-- /container -->
</div>

</body>
</html>
