{% extends "core/base.html" %}

{% block content %}
    {% for obj in object_list %}
        <div class="row">
            <div class="span12">
                <div class="plan-container best-value">
                    <div class="plan">
                        <div class="plan-header">
                            <div class="plan-title" style="text-align: left; padding-left: 25px">
                                {{ obj.titulo }} - <small style="white-space: nowrap">Até {{ obj.data_fim }}</small>
                            </div> <!-- /plan-title -->
                        </div> <!-- /plan-header -->
                        <div class="plan-features">
                            <ul>
                                <li style="text-align: left">{{ obj.descricao|safe }}</li>
                                <li>
                                    <div>
                                        <div id="d3" style="width: 100%;"></div><br/>
                                        <div class="row-fluid">
                                            {% for item in obj.itemobjetivo_set.all %}
                                                <div class="span3 knob" style="padding-bottom: 10px">
                                                    <h4>{{ item.servico }}</h4>
                                                    <input type="text" value="{{ item.porcentagem_concluida }}" data-width="120" data-fgColor="{{ item.cor_knob }}" data-readOnly="true" class="dial"/>
                                                    {% if item.servico.nome == "Setor Projetos" %}
                                                        <h6><strong><span class="jq-currency">{{ item.quantidade_atual }}</span> / <span class="jq-currency">{{ item.quantidade }}</span></strong><br><span class="muted">{{ item.medida }}</span></h6>
                                                    {% else %}
                                                        <h6><strong><span>{{ item.quantidade_atual }}</span> / <span>{{ item.quantidade }}</span></strong><br><span class="muted">{{ item.medida }}</span></h6>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="plan-actions"></div> <!-- /plan-actions -->
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <script></script>
{% endblock %}