<!DOCTYPE html>
<html>
<head>
    <title>Auditoria de Metas</title>
    <style>
        * { margin: 0; padding: 0 }
        body {
            font-family: Tahoma, Arial, sans-serif;
            font-size: 0.8em;
            color: #333;
            padding: 0 10px;
            background-color: #ddddbb;
        }
        table { width: 100%; margin-top: 10px; background-color: #fff }
        caption { background-color: #83ae4e; color: #fff; font-size: 1.3em; padding: 3px }
        th { background-color: #edecd6; white-space: nowrap }
        th, td { border-style: solid; border-color: #ddddbb; border-width: 0 1px 1px 0; padding: 0 5px; margin: 0 }
        th.audit { background-color: #d6e9c6; width: 10% }
        td.audit { background-color: #eeffcc }
    </style>
</head>
<body>

<table>
<caption>Auditoria para Objetivos</caption>
<thead>
    <tr>
        <th class="audit">Usuário</th>
        <th class="audit">Data/Hora</th>
        <th class="audit">Ação</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Data início</th>
        <th>Data fim</th>
        <th>Ativo?</th>
    </tr>
</thead>
<tbody>
{% for objetivo in objetivos %}
    {% for audit_objetivo in objetivo.audit_log.all %}
        <tr>
            <td class="audit">{{ audit_objetivo.action_user }}</td>
            <td class="audit" style="white-space: nowrap">{{ audit_objetivo.action_date|date:"d/m/Y H:i:s" }}</td>
            <td class="audit">
                {% if audit_objetivo.action_type == 'U' %}Alterado
                {% elif audit_objetivo.action_type == 'I' %}Criado
                {% else %}Removido{% endif %}
            </td>
            <td>{{ audit_objetivo.titulo }}</td>
            <td>{{ audit_objetivo.descricao|linebreaks }}</td>
            <td>{{ audit_objetivo.data_inicio|date:"d/m/Y" }}</td>
            <td>{{ audit_objetivo.data_fim|date:"d/m/Y" }}</td>
            <td>{% if audit_objetivo.ativo %}Sim{% else %}Não{% endif %}</td>
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>

<table>
<caption>Auditoria para Item de Objetivos</caption>
<thead>
    <tr>
        <th class="audit">Usuário</th>
        <th class="audit">Data/Hora</th>
        <th class="audit">Ação</th>
        <th>Objetivo</th>
        <th>Serviço</th>
        <th>Quantidade</th>
        <th>Quantidade atual</th>
        <th>Medida</th>
    </tr>
</thead>
{% for item_objetivo in item_objetivos %}
    {% for audit_item_objetivo in item_objetivo.audit_log.all %}
        <tr>
            <td class="audit">{{ audit_item_objetivo.action_user }}</td>
            <td class="audit" style="white-space: nowrap">{{ audit_item_objetivo.action_date|date:"d/m/Y H:i:s" }}</td>
            <td class="audit">
                {% if audit_item_objetivo.action_type == 'U' %}Alterado
                {% elif audit_item_objetivo.action_type == 'I' %}Criado
                {% else %}Removido{% endif %}
            </td>
            <td>{{ audit_item_objetivo.objetivo.titulo }}</td>
            <td>{{ audit_item_objetivo.servico.nome }}</td>
            <td>{{ audit_item_objetivo.quantidade }}</td>
            <td>{{ audit_item_objetivo.quantidade_atual }}</td>
            <td>{{ audit_item_objetivo.medida.unidade }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</table>

</body>
</html>