{% extends "core/base.html" %}

{% block content %}

    {% for obj in object_list %}
    <div class="row">
        <div class="span12">
            <h3>{{ obj.titulo }} <small style="white-space: nowrap">{{ obj.data_inicio }} até {{ obj.data_fim }}</small></h3>
            <p class="muted">{{ obj.descricao }}</p>
            {% for item in obj.itemobjetivo_set.all %}
            <table class="table table-bordered" style="background-color: #fff">
                <tr>
                    <td>
                        <strong>{{ item.servico }}</strong> - {{ item.quantidade_atual }} {{ item.medida }}{{ item.quantidade_atual|pluralize }}
                        de {{ item.quantidade }} {{ item.medida }}{{ item.quantidade|pluralize }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="progress progress-info progress-striped" style="margin-bottom: 0">
                            <div class="bar" style="width: {{ item.porcentagem_concluida }}%">{{ item.porcentagem_concluida|floatformat:"1" }}%</div>
                        </div>
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

{% endblock %}